@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import 'variables';

html {
  position: relative;
  height: 100%;
}

body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

a {
  color: $brand-primary;
  transition: all 0.2s linear;
  transition: color 0.2s cubic-bezier(0.24, 0.45, 0.46, 0.92);

  &:hover {
    color: $brand-primary;
    text-decoration: underline;
  }
}

p,
h1,
h2,
h3,
h4,
h6,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
}

.btn {
  padding: 10px 16px;
  border: 0;
  border-radius: 3px;
  transition: all 0.4s cubic-bezier(0.24, 0.45, 0.46, 0.92);

  &:hover {
    color: #fff;
    background-color: $gray-darker;
  }
}

.btn-link {
  &:hover {
    color: $gray-darker;
    text-decoration: none;
    background-color: transparent;
  }
}
