@import '@styles/_variables.scss';

.navbar {
  margin-bottom: 20px;
  border: 0;
  background: #ffffff;
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

  .navbar-brand {
    color: #252525;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
      color: $brand-primary;
    }

    svg {
      margin-right: 10px;
    }
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.in {
    .navbar-nav > li.active > a {
      box-shadow: none;
    }

    ul:first-child {
      margin-bottom: 0;
    }

    .navbar-right {
      margin-top: 0;
    }
  }

  .navbar-nav {
    > li {
      > a {
        padding: 20px;
      }

      &.active > a {
        background: none;
        box-shadow: inset 0 -2px 0 0 $brand-primary;
        font-weight: bold;

        &:focus,
        &:hover {
          background: none;
        }

        &:hover {
          color: $brand-primary;
        }
      }

      > a {
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }

  .profile-thumbnail {
    img {
      width: 35px;
      height: 35px;
      border-radius: 35px;
    }
  }

  .dropdown {
    ul li a {
      padding-left: 10px;
      padding-right: 10px;
    }

    .dropdown-header {
      margin-left: 0;
      padding-left: 10px;
    }

    .dropdown-menu .divider {
      margin: 5px 0;
    }

    #user-dropdown {
      padding-top: 12.5px;
      padding-bottom: 12.5px;
      padding-right: 10px;
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-brand {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .navbar-nav {
      > li > a {
        padding: 10px 20px;
      }

      .dropdown {
        #user-dropdown {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
