@import '@styles/_variables.scss';

.navbar {
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 0;

  .navbar-brand {
    color: #252525;

    &:hover {
      color: $brand-primary;
    }

    svg {
      margin-right: 10px;
    }
  }

  .navbar-nav {
    > li {
      &.active > a {
        background: none;
        box-shadow: inset 0 -2px 0 0 $brand-primary;
        font-weight: bold;

        &:hover {
          background: none;
          color: $brand-primary;
        }
      }

      > a {
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
}
