@import '@styles/_variables.scss';

.footer {
  background-color: $gray-dark;
  position: absolute;
  color: #fff;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  a {
    color: #ffffff;
  }

  svg {
    font-size: 1.7em;
    margin-right: 10px;
    vertical-align: -0.25em;
  }
}
